# workflow-specific things to ignore, these are common for R and Python (see here for language-specific templates: https://github.com/github/gitignore):
.ipynb_checkpoints
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.Rhistory
.Rapp.history
.RData
.RDataTmp
*.utf8.md
*.knit.md

# add files/dirs with big files:
dollo_qfo/
human_disease/
misc/
ppi_ml/
xlink/
localization_ml/
